<div class="dropdownMenuList">
    <a href="https://juegosdestro.com/categoria/3d"><div class="categoryButton">
        <div class="gameIconContainer">
            <img class="gameIcon" src="/icon/categories/img-3D.png" alt="icono categoria 3D"/>
        </div>
        <p data-section="header" data-value="threeDCategory">
            3D
        </p>
        <div class="imgArrowContainter">
            <img class="imgArrow" src="/imagenes/img-arrow.png" alt="icono flecha"/>
        </div>
    </div></a>
    <a href="https://juegosdestro.com/categoria/action"><div class="categoryButton">
        <div class="gameIconContainer">
            <img class="gameIcon" src="/icon/categories/img-action.png" alt="icono categoria acción"/>
        </div>
        <p data-section="header" data-value="actionCategory">
            Acción
        </p>
        <div class="imgArrowContainter">
            <img class="imgArrow" src="/imagenes/img-arrow.png" alt="icono flecha"/>
        </div>
    </div>
    </a>
    <a href="https://juegosdestro.com/categoria/girls"><div class="categoryButton">
        <div class="gameIconContainer">
            <img class="gameIcon" src="/icon/categories/img-girl.png" alt="icono categoria chicas"/>
        </div>
        <p data-section="header" data-value="girlsCategory">
            Chicas
        </p>
        <div class="imgArrowContainter">
            <img class="imgArrow" src="/imagenes/img-arrow.png" alt="icono flecha"/>
        </div>
    </div>
    </a>
    <a href="https://juegosdestro.com/categoria/driving"><div class="categoryButton">
        <div class="gameIconContainer">
            <img class="gameIcon" src="/icon/categories/img-car.png" alt="icono categoria conducción"/>
        </div>
        <p data-section="header" data-value="drivingCategory">
            Conducción
        </p>
        <div class="imgArrowContainter">
            <img class="imgArrow" src="/imagenes/img-arrow.png" alt="icono flecha"/>
        </div>
    </div>
    </a>
    <a href="https://juegosdestro.com/categoria/sports"><div class="categoryButton">
        <div class="gameIconContainer">
            <img class="gameIcon" src="/icon/categories/img-sport.png" alt="icono categoria deportes"/>
        </div>
        <p data-section="header" data-value="sportsCategory">
            Deportes
        </p>
        <div class="imgArrowContainter">
            <img class="imgArrow" src="/imagenes/img-arrow.png" alt="icono flecha"/>
        </div>
    </div>
    </a>
    <a href="https://juegosdestro.com/categoria/strategy"><div class="categoryButton">
        <div class="gameIconContainer">
            <img class="gameIcon" src="/icon/categories/img-strategy.png" alt="icono categoria estrategia"/>
        </div>
        <p data-section="header" data-value="strategyCategory">
            Estrategia
        </p>
        <div class="imgArrowContainter">
            <img class="imgArrow" src="/imagenes/img-arrow.png" alt="icono flecha"/>
        </div>
    </div>
    </a>
    <a href="https://juegosdestro.com/categoria/logic"><div class="categoryButton">
        <div class="gameIconContainer">
            <img class="gameIcon" src="/icon/categories/img-logic.png" alt="icono categoria lógica"/>
        </div>
        <p data-section="header" data-value="logicCategory">
            Lógica
        </p>
        <div class="imgArrowContainter">
            <img class="imgArrow" src="/imagenes/img-arrow.png" alt="icono flecha"/>
        </div>
    </div>
    </a>
    <a href="https://juegosdestro.com/categoria/multiplayer"><div class="categoryButton">
        <div class="gameIconContainer">
            <img class="gameIcon" src="/icon/categories/img-multiplayer.png" alt="icono categoria multijugador"/>
        </div>
        <p data-section="header" data-value="multiplayerCategory">
            Multijugador
        </p>
        <div class="imgArrowContainter">
            <img class="imgArrow" src="/imagenes/img-arrow.png" alt="icono flecha"/>
        </div>
    </div>
    </a>
    <a href="https://juegosdestro.com/categoria/mmo"><div class="categoryButton">
        <div class="gameIconContainer">
            <img class="gameIcon" src="/icon/categories/img-mmo.png" alt="icono categoria mmo"/>
        </div>
        <p data-section="header" data-value="mmoCategory">
            MMO
        </p>
        <div class="imgArrowContainter">
            <img class="imgArrow" src="/imagenes/img-arrow.png" alt="icono flecha"/>
        </div>
    </div>
    </a>
</div>
<div class="languagesList">
    <div class="languageContainer" onclick="changeLanguage('es')">
        <img src="/imagenes/img_Español.jpg" alt="icono españa">
    </div>
    <div class="languageContainer" onclick="changeLanguage('en')">
        <img src="/imagenes/img_Ingles.jpg" alt="icono estados unidos">
    </div>
    <div class="languageContainer" onclick="changeLanguage('ru')">
        <img src="/imagenes/img_Ruso.jpg" alt="icono rusia">
    </div>
    <div class="languageContainer" onclick="changeLanguage('fr')">
        <img src="/imagenes/img_Francia.jpg" alt="icono francia">
    </div>
    <div class="languageContainer" onclick="changeLanguage('pt')">
        <img src="/imagenes/img_Portugal.jpg" alt="icono portugal">
    </div>
    <div class="languageContainer" onclick="changeLanguage('de')">
        <img src="/imagenes/img_Alemania.jpg" alt="icono alemania">
    </div>
</div>