<div class="footerContainer">
    <div class="languagesList">
        <div class="languageContainer" onclick="changeLanguage('es')">
            <img src="/imagenes/img_Español.jpg" alt="icono españa">
        </div>
        <div class="languageContainer" onclick="changeLanguage('en')">
            <img src="/imagenes/img_Ingles.jpg" alt="icono estados unidos">
        </div>
        <div class="languageContainer" onclick="changeLanguage('ru')">
            <img src="/imagenes/img_Ruso.jpg" alt="icono rusia">
        </div>
        <div class="languageContainer" onclick="changeLanguage('fr')">
            <img src="/imagenes/img_Francia.jpg" alt="icono francia">
        </div>
        <div class="languageContainer" onclick="changeLanguage('pt')">
            <img src="/imagenes/img_Portugal.jpg" alt="icono portugal">
        </div>
        <div class="languageContainer" onclick="changeLanguage('de')">
            <img src="/imagenes/img_Alemania.jpg" alt="icono alemania">
        </div>
    </div>
    <div class="footerImgContainer">
        <img src="/imagenes/img_logo.png" alt="Logo juegosdestro"/>
    </div>
    <div class="footerList">
        <p><a href="https://juegosdestro.com/contactenos" data-section="footer" data-value="contact">Contáctenos</a></p>
        <p><a href="https://juegosdestro.com/politicasdeprivacidad" data-section="footer" data-value="policies">Políticas de privacidad</a></p>
        <p><a href="https://juegosdestro.com/terminosycondiciones" data-section="footer" data-value="conditions">Términos y condiciones</a></p>
    </div>
</div>