
    <div class="containerButtonCategories">
        <a class="buttonCategories" id="buttonCategories">
        </a>
    </div>
    <div class="containerLogo">
    <div class="containerMainLogo" >
        <a class="mainLogo" href="https://juegosdestro.com/"><img src="/imagenes/img_logo.png" alt="Logo juegosdestro"></a>
    </div>
        <a href="https://juegosdestro.com/"><h1 class="txtLogo">JUEGOSDESTRO</h1></a>
    </div>
    <div class="categoriesNavbar">
        <a href="https://juegosdestro.com/categoria/3d"><div class="categoryButtonNavbar">
            <div class="gameIconContainer">
                <img class="gameIcon" src="/icon/categories/img-3D.png" alt="icono categoria 3D"/>
            </div>
            <p data-section="header" data-value="threeDCategory">
                3D
            </p>
        </div>
        </a>
        <a href="https://juegosdestro.com/categoria/action"><div class="categoryButtonNavbar">
            <div class="gameIconContainer">
                <img class="gameIcon" src="/icon/categories/img-action.png" alt="icono categoria acción"/>
            </div>
            <p data-section="header" data-value="actionCategory">
                Acción
            </p>
        </div>
        </a>
        <a href="https://juegosdestro.com/categoria/girls"><div class="categoryButtonNavbar">
            <div class="gameIconContainer">
                <img class="gameIcon" src="/icon/categories/img-girl.png" alt="icono categoria chicas"/>
            </div>
            <p data-section="header" data-value="girlsCategory">
                Chicas
            </p>
        </div>
        </a>
        <a href="https://juegosdestro.com/categoria/driving"><div class="categoryButtonNavbar">
            <div class="gameIconContainer">
                <img class="gameIcon" src="/icon/categories/img-car.png" alt="icono categoria conducción"/>
            </div>
            <p data-section="header" data-value="drivingCategory">
                Conducción
            </p>
        </div>
        </a>
        <a href="https://juegosdestro.com/categoria/sports"><div class="categoryButtonNavbar">
            <div class="gameIconContainer">
                <img class="gameIcon" src="/icon/categories/img-sport.png" alt="icono categoria deportes"/>
            </div>
            <p  data-section="header" data-value="sportsCategory">
                Deportes
            </p>
        </div>
        </a>
        <a href="https://juegosdestro.com/categoria/strategy"><div class="categoryButtonNavbar">
            <div class="gameIconContainer">
                <img class="gameIcon" src="/icon/categories/img-strategy.png" alt="icono categoria estrategia"/>
            </div>
            <p data-section="header" data-value="strategyCategory">
                Estrategia
            </p>
        </div>
        </a>
        <a href="https://juegosdestro.com/categoria/logic"><div class="categoryButtonNavbar">
            <div class="gameIconContainer">
                <img class="gameIcon" src="/icon/categories/img-logic.png" alt="icono categoria lógica"/>
            </div>
            <p data-section="header" data-value="logicCategory">
                Lógica
            </p>
        </div>
        </a>
        <a href="https://juegosdestro.com/categoria/multiplayer"><div class="categoryButtonNavbar">
            <div class="gameIconContainer">
                <img class="gameIcon" src="/icon/categories/img-multiplayer.png" alt="icono categoria multijugador"/>
            </div>
            <p data-section="header" data-value="multiplayerCategory">
                Multijugador
            </p>
        </div>
        </a>
        <a href="https://juegosdestro.com/categoria/mmo"><div class="categoryButtonNavbar">
            <div class="gameIconContainer">
                <img class="gameIcon" src="/icon/categories/img-mmo.png" alt="icono categoria mmo"/>
            </div>
            <p data-section="header" data-value="mmoCategory">
                MMO
            </p>
        </div>
        </a>
    </div>
    <div class="search">
        <a class="buttonSearch"></a>
        <div class="searchContainer">
                <input class="inputValue">
                <a class="buttonSearchPost"  data-section="header" data-value="searchButton">Buscar</a>
        </div>
    </div>
